/**
 * @author: ${author}
 * @version: 1.0
 * @since ${date}
 */
package ${packagePrefix}${daoPkg};

import java.util.List;
import java.util.Collection;
import ${packagePrefix}${domainPkg}.${className};

#if($pkResult.size()>1)
import ${packagePrefix}${domainPkg}.${className}.PK;
#end

import org.springframework.data.jpa.repository.JpaRepository;
import org.springframework.data.jpa.repository.Query;


public interface ${className}Repository extends JpaRepository<${className},
#if($pkResult.size()>1)
 ${className}.PK
#else
 ${keyType}
#end > {


}

