/**
 * @author: ${author}
 * @version: 1.0
 * @since ${date}
 */
package ${packagePrefix}.model;

import ${packagePrefix}.model.base.Base${className};
import javax.persistence.Entity;
import javax.persistence.Table;
#if($pkResult.size()>1)
import ${packagePrefix}.model.${className}PK;
#else
import javax.persistence.SequenceGenerator;
#end


@SuppressWarnings("serial")
@Entity
@Table(name = "$TABLE_NAME")
#if($pkResult.size()==1)
@SequenceGenerator(name = "${TABLE_NAME}_SEQ", sequenceName = "SEQ_${TABLE_NAME}_ID" ,allocationSize=1)
#end
public class ${className} extends Base${className} {

    public ${className} (){
	super();
    }

    public ${className} (${keyType} ${keyVar}){
	super(${keyVar});
    }

}