/**
 * @author: ${author}
 * @version: 1.0
 * @since ${date}
 */
package ${packagePrefix}.model;

import ${packagePrefix}.model.base.Base${className}PK;
import javax.persistence.Embeddable;

@Embeddable
public class ${className}PK extends Base${className}PK {

    public ${className}PK (){
	    super();
    }
}