package ${packagePrefix}.service;

import ${packagePrefix}${domainPkg}.${className};

/**
* @author ${author}
* @version 1.0
* @since ${date}
*/
public interface ${className}Service {

   public void save${className} (${className} ${classVar});

   public void delete${className} (${className} ${classVar});

}
