package ${packagePrefix}.service;

import ${packagePrefix}${domainPkg}.${className};

/**
* @author ${author}
* @version 1.0
* @since ${date}
*/
public interface ${className}Service {

    /**
     * 保存 ${className}
     * @param ${classVar}
     * @return ${className}
     */
    ${className} save${className} (${className} ${classVar});

    void delete${className} (${className} ${classVar});

}
