package ${packagePrefix}.service.impl;

import org.springframework.stereotype.Service;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.transaction.annotation.Transactional;
import ${packagePrefix}${daoPkg}.${className}${daoSuffix};
import ${packagePrefix}${domainPkg}.${className};
import ${packagePrefix}.service.${className}Service;
import org.springframework.util.Assert;

/**
* @author ${author}
* @version 1.0
* @since ${date}
*/
@Service("${classVar}Service")
public class ${className}ServiceImpl implements ${className}Service {
    private ${className}${daoSuffix} ${classVar}${daoSuffix};

    @Autowired
    public ${className}ServiceImpl (${className}${daoSuffix} ${classVar}${daoSuffix}) {
        Assert.notNull(${classVar}${daoSuffix}, "${classVar}${daoSuffix} must not be null!");
        this.${classVar}${daoSuffix} = ${classVar}${daoSuffix};
    }

    @Transactional
    public ${className} save${className} (${className} ${classVar}){
 		return ${classVar}${daoSuffix}.save(${classVar});
    }

	@Transactional
    public void delete${className} (${className} ${classVar}){
        ${classVar}${daoSuffix}.delete(${classVar});
    }
}