
/**
 * @author: ${author}
 * @version: 1.0
 * @since ${date}
 */
package ${packagePrefix}.service;

import java.util.List;
import java.util.Collection;
import ${packagePrefix}${domainPkg}.${className};
import ${packagePrefix}${daoPkg}.${className}${daoSuffix};

public interface ${className}Service {

   public void save${className} (${className} ${classVar});

   public void delete${className} (${className} ${classVar});

}
